:root{
    --main-background-color: #171717;
    --chat-box-color: #212121;
    --user-text-box-color: #2F2F2F;
    --chatbot-response-text-color: #CDCDCD;
    --user-query-text-color: #ECECEC;
    --user-query-input-box-color: #2f2f2f;
    --montserrat-font: "Montserrat";
    --scroll-bg-color: #1d1d1e;
    --scroll-thumb-color: #757576;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* * firefox scroll bar*
html{
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-bg-color);
}

* other browsers scroll bar *
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
}

html::-webkit-scrollbar-track{
    background-color: var(--scroll-bg-color);
} */


.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
}

.chat-container{
    height: 100vh;
    width: 50vw;
    background-color: var(--chat-box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.chat-box{
    height: 88%;
    min-height: 80%;
    width: 99%;
    background-color: var(--chat-box-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 12px;
    overflow-x: hidden;
    margin: 10px;
    margin-bottom: 0px;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-bg-color);
}
.chat-box::-webkit-scrollbar{
    width: 10px;
}
.chat-box::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
}

.chat-box::-webkit-scrollbar-track{
    background-color: var(--scroll-bg-color);
}

.input-query-section{
    height: 6%;
    width: 99%;
    background-color: var(--user-query-input-box-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 5px;
}
.chat-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-form > textarea{
    max-height: 100%;
    width: 90%;
    height: 40%;
    background-color: var(--user-query-input-box-color);
    border: none;
    color: var(--user-query-text-color);
    outline: none;
    font-family: var(--montserrat-font);
    resize: none;
    gap: 12px;
    overflow-x: hidden;
    flex-direction: column;
}
.google-icon-holder{
    width: 40px;
    height: 40px;
    background-color: #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.google-icon-holder-1{
    display: hidden;
    width: 40px;
    height: 40px;
}
.material-symbols-outlined {
    color: var(--user-query-input-box-color);
}
.user-message{
    display: flex;
    justify-content: right;
}
